<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeliMania</title>
    <script src="https://kit.fontawesome.com/aa9ea7d08e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="logo">

       <nav>
           <ul>
               <li><a href="#">Películas</a></li>
               <li><a href="#">Libros</a></li>
               <li><a href="#">Merchandising</a></li>
           </ul>
       </nav>
       <nav>
        <ul>
            <li><a href="#"><i class="fas fa-user"></i> Iniciar sesión</a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="#"><i class="far fa-heart"></i></a></li>
        </ul>
        <nav>
            <p>Lugar para la barra de búsqueda <i class="fas fa-search"></i></p>
        </nav>
    </nav>

    </header>

    <main>
        <p>LUGAR PARA EL CUERPO DE LA PÁGINA</p>
    </main>

    <footer>
        <section>
            <h2>INFORMACIÓN</h2>
            <ul>
                <li>Contacto</li>
                <li>Quienes somos</li>
                <li>Envios</li>
                <li>Devoluciones</li>
                <li>Política de privacidad</li>
            </ul>
        </section>

        <section>
            <h2>MI CUENTA</h2>
            <ul>
                <li>Mis compras</li>
                <li>Mis datos</li>
            </ul>
        </section>

        <section>
            <h2>Redes sociales:</h2>
            <ul>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-instagram-square"></i></li>
            </ul>
        </section>

        <section>
            <h2>Newsletter:</h2>
           <p>Registrate y recibí las últimas noticias y promociones para la tienda!</p>
           <nav>
            <p>Lugar para que dejen su e-mail CAJA DE FORMULARIO <i class="fas fa-envelope"></i></p>
        </nav>
        </section>
    </footer>
</body>
</html>